<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="offset-3 col-6">
            <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="POST" novalidate class="needs-validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="campground[title]" id="title"
                        value="<%= camp.title %>" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="campground[location]" id="location"
                        value="<%= camp.location %>" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" name="campground[price]" id="price" placeholder="0.00"
                            min="0" value="<%= camp.price %>" aria-describedby="price-label" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add More Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>


                <div class="mb-3">
                    <% camp.images.forEach(function(img, i) { %>
                        <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deleteImages[]"
                                value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                        <% }) %>
                </div>


                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="campground[description]" id="description"
                        required><%= camp.description %></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Save Changes</button>
                </div>
            </form>
            <a href="/campgrounds/<%= camp.id %>">Back</a>
        </div>
    </div>